# ===============================
# ROOT ENV (PROJECT COMMON)
# ===============================

echo "----------------------------------------"
echo "[direnv] ROOT environment"

# conda 초기화 (direnv 안에서는 bashrc 안 타는 경우 대비)
source /home/leemou/miniconda3/etc/profile.d/conda.sh

# 프로젝트에서 사용할 conda env 활성화
# → Isaac / Python / GPU 관련 환경
conda activate isaac

echo "[direnv] conda env: $CONDA_DEFAULT_ENV"

# (선택) 공통 변수
# export PROJECT_NAME="rb_project"

echo "----------------------------------------"
